@import 'normalize'

fancy-btn(
    backgroundColor = #232323,
    textColor = null,
    buttonWidth = 150px,
    buttonHeight = 60px,
    borderSize = 4px,
    innerSpacing = 1em 2em,
    gradient = 'LightSkyBlue, NavajoWhite, LightCoral, NavajoWhite, LightSkyBlue',
    outerBorder = null
  )
  outerBorderSize = outerBorder ? outerBorder[0] : null
  gradientWidth = outerBorderSize ? (buttonWidth - borderSize * 2) - outerBorderSize * 2 : buttonWidth - borderSize * 2
  gradientHeight = outerBorderSize ? (buttonHeight - borderSize * 2) - outerBorderSize * 2 : buttonHeight - borderSize * 2
  textColor = light(backgroundColor) ? #555 : #ccc unless textColor
  backface-visibility: hidden
  transform: translateZ(0)
  border: outerBorder ? outerBorder : none
  line-height: 1.5
  font-size: 12px
  font-smoothing: subpixel-antialiased
  text-transform: uppercase
  font-weight: 700
  letter-spacing: 2px
  color: textColor
  padding: innerSpacing
  border-radius: borderSize
  display: inline-block
  position: relative
  vertical-align: middle
  width: 100%
  max-width: buttonWidth
  height: buttonHeight
  background-color: backgroundColor
  background: linear-gradient(0deg, backgroundColor, backgroundColor) borderSize borderSize / gradientWidth gradientHeight no-repeat,
              linear-gradient(90deg, gradient) 0% 0% / 200% 100% no-repeat
  box-shadow: 0 0 3px 2px rgba(0,0,0,0.3)
  transition: all 200ms linear
  cursor: pointer
  opacity: 0.5
  &:hover
    opacity: 1
    color: light(textColor) ? lighten(textColor, 80%) : darken(textColor, 80%)
    background: linear-gradient(0deg, backgroundColor, backgroundColor) borderSize borderSize / gradientWidth gradientHeight no-repeat,
                linear-gradient(90deg, gradient) 100% 0% / 200% 100% no-repeat
  &:active
    transform: translateZ(0) scale(0.9)
  &:focus
    outline: none
    color: light(textColor) ? lighten(textColor, 80%) : darken(textColor, 80%)
    background: linear-gradient(0deg, backgroundColor, backgroundColor) borderSize borderSize / gradientWidth gradientHeight no-repeat,
                linear-gradient(90deg, gradient) 100% 0% / 200% 100% no-repeat

*, *:before, *:after
  box-sizing: border-box

html, body
  height: 100%
  overflow: hidden

html
  font-size: 16px
  font-family: sans-serif

body
  background: #232323
  font-size: 100%
  line-height: 1.5

$clearfix
  clearfix()

main
  @extend $clearfix
  height: 100%

.column div
  height: 100%

.column
  float: left
  width: 50%
  height: 100%
  position: relative
  pre
    height: 100%
    margin: 0
    padding: 0
    display: block
    color: white
    font-size: 1em
    line-height: 1.5
  .input, code
    display: block
    height: 100%
    width: 100%
    padding: 1.5em
    border: none
    overflow-y: scroll
    overflow-x: auto
    margin: 0
    resize: none
    font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif
    font-size: 1em
    line-height: 1.5
    &:focus
      outline: none

button#link
  fancy-btn(
    buttonWidth: 100px,
    buttonHeight: 48px,
    borderSize: 2px
  )
  box-shadow: none
  absolute: top 2em right 3em
